In [1]:
import sqlite3

In [3]:
con = sqlite3.connect('./test_db')

In [4]:
cur = con.cursor()

In [6]:
for row in cur.execute('SELECT * FROM person'):
    print(row)
    for column in row:
        print(column)

(1, 'name_a', 10.5)
1
name_a
10.5
(3, 'c_update', 3.14)
3
c_update
3.14

In [7]:
insert_sql = ' INSERT INTO person VALUES(?, ?, ?)'

In [8]:
insert_param = (100, 'name_z', 99.9)

In [9]:
cur.execute(insert_sql, insert_param)

In [10]:
con.commit()

In [11]:
cur.execute('SELECT * FROM person WHERE size > :size', {'size':10})

In [12]:
print(cur.fetchall())

[(1, 'name_a', 10.5), (100, 'name_z', 99.9)]

In [31]:
import sqlite3

# SQLiteデータベースファイルのパス
db_file = 'test_db'

# SQLiteデータベースに接続
conn = sqlite3.connect(db_file)
cursor = conn.cursor()

In [32]:
update_query = "UPDATE person SET name = ? WHERE id = ?"
cursor.execute(update_query, ('changed_name', 1))
conn.commit()
print("レコードの名前を変更しました。")

delete_query = "DELETE FROM person WHERE id = (SELECT id FROM person LIMIT 1)"
cursor.execute(delete_query)
conn.commit()
print("1レコードを削除しました。")

レコードの名前を変更しました。
1レコードを削除しました。